@model IEnumerable<VBSAdmin.Models.ClassroomViewModels.RostersAddressViewModel>

@{
    ViewData["Title"] = "Class Rosters - Addresses";
}

<h2 class="pagebreak">Class Rosters - Addresses</h2>

@foreach (var item in Model)
{
    <div class="panel panel-primary pagebreak">
        <div class="panel-heading">@(item.SessionPeriod + " " + item.Grade.GetDisplayName() + " " + item.Name)</div>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="width:120px">
                        Name
                    </th>
                    <th style="width:200px">
                        Address
                    </th>
                    <th style="width:100px">
                        City
                    </th>
                    <th style="width:50px">
                        State
                    </th>
                    <th style="width:50px">
                        Zip
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var child in item.Children)
                {
                    <tr>
                        <td style="width:120px">
                            @child.Name
                        </td>
                        <td style="width:200px">
                            @child.Address
                        </td>
                        <td style="width:100px">
                            @child.City
                        </td>
                        <td style="width:50px">
                            @child.State
                        </td>
                        <td style="width:50px">
                            @child.Zip
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<p />
}
