@model VBSAdmin.Data.VBSAdminModels.Child

@{
    ViewData["Title"] = "Delete Child";
}

<h3>Are you sure you want to delete this child?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Child Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Child First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Grade Completed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradeCompleted)
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Model.DateOfBirth.ToString("d")
        </dd>
        <dt>
            Guardian Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuardianLastName)
        </dd>
        <dt>
            Guardian First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuardianFirstName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Child List</a>
        </div>
    </form>
</div>
