@model IEnumerable<VBSAdmin.Data.VBSAdminModels.Child>

@{
    ViewData["Title"] = "Registered Children";
}

<h2>Found Children</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Register New Child</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeCompleted)
            </th>
            <th>
                Classroom
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRegistration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Session.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Session.Period) - @Html.DisplayFor(modelItem => item.Classroom.Name)
            </td>
            <td>
                @item.DateOfBirth.Date.ToString("d")
            </td>
            <td>
                @item.DateOfRegistration.Date.ToString("d")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
