@model IEnumerable<VBSAdmin.Models.ChildrenViewModels.UnchurchedReportViewModel2>

@{
    ViewData["Title"] = "Unchurched Report";
}

<h2 class="pagebreak">Unchurched Report</h2>

<div class="panel panel-primary pagebreak">
    <div class="panel-heading">Unchurched Report</div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th style="width:100px">
                    Guardian Name
                </th>
                <th style="width:50px">
                    Guardian Phone
                </th>
                <th style="width:50px">
                    Guiardian Email
                </th>
                <th style="width:100px">
                    Guardian Relationship
                </th>
                <th style="width:150px">
                    Address
                </th>
                <th style="width:100px">
                    Invited By
                </th>
                <th style="width:100px">
                    Church Specified
                </th>
                <th style="width:180px">
                    Registered Children
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var child in Model)
        {
            <tr>
                <td style="width:100px">
                    @child.GuardianName
                </td>
                <td style="width:50px">
                    @child.GuardianPhone
                </td>
                <td style="width:100px">
                    @child.GuardianEmail
                </td>
                <td style="width:100px">
                    @child.GuardianRelationship 
                </td>
                <td style="width:150px">
                    @child.Address
                </td>
                <td style="width:100px">
                    @child.InvitedBy
                </td>
                <td style="width:100px">
                    @child.ChurchSpecified
                </td>
                <td style="width:180px">
                    @child.ChildrenNamesAndGrades
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p />
