@model VBSAdmin.Data.VBSAdminModels.VBS

@{
    ViewData["Title"] = "Set Active";
}

<h2>Set Active VBS</h2>

<form asp-action="Current">
    <div class="form-horizontal">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ThemeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThemeName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd>
                @Model.StartDate.ToString("d")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Model.EndDate.ToString("d")
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set Active " class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to VBS List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
